@keyframes flor_caindo {
    0% {
        opacity: 0;
        top: 0;
    }

    10% {
        opacity: 1;
        top: 10vh;
    }

    90% {
        opacity: 1;
        top: 90vh;
    }

    100% {
        opacity: 0;
        top: 100vh;
    }
    
}

@keyframes fadein_inicial_wallpaper {
    from {
        opacity: 0;
        /* top: 10vh; */
    }

    to {
        opacity: 1;
        /* top: 10vh; */
    }
}

@keyframes fadein_inicial_background {
    from {
        opacity: 0;
        /* top: 310px; */
    }

    to {
        opacity: 1;
        /* top: 210px; */
    }
}