@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
        font-family: "Playlist Script";
        src: url('./fonts/PlaylistScript.otf');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.wallpaper {
    width: 100%;
    align-self: center;
    justify-self: center;
    z-index: -2;
}

/* background image now applied to <main> via CSS */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    margin-top: -100px;
    background-image: url('./assets/papel_teste.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.nomes_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px auto;
    align-self: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nomes_container div {
    display: flex;
    gap: .5rem;
}

.textos {
    margin: 30px auto;
    margin-top: 0;
    width: 80%;
    text-align: justify;
    font-family: 'Dancing Script', Verdana, sans-serif;
    font-size: 20px;
    color: #333333;
    /* line-height: 1.5; */
}


.petalas {
    width: 60px;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
}

.none {
    display: none;
}

.container {
    width: 100%;
}

.container::before {
    content: "";
    position: relative;
    inset: 0;
    background-image: url('./assets/papel_teste.png');
    background-size: cover;
    transform: scaleY(-1);
    z-index: -1;

}

.btn_lista {
    margin: 20px auto;
    background-color: #C3D5AF;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    font-size: 18px;
}

.gift {
    width: 25px;
}

/* Animação de fade-in inicial */
.fadein_inicial_wallpaper {
    animation: fadein_inicial_wallpaper 1s ease-in forwards;
}

.fadein_inicial_background {
    animation: fadein_inicial_background 1s ease-in forwards;
}