@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
        font-family: "Playlist Script";
        src: url('./fonts/PlaylistScript.otf');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    z-index: -2;
}

main {
    position: absolute;
    top: 220px;
    width: 100%;
    z-index: 1;
}

.main_background {
    width: 100vw;
    z-index: -1;
}

.nomes_container {
    z-index: 1;
    display: flex;
}

.textos {
    margin: 50px auto;
    width: 70%;
    text-align: justify;
    font-family: 'Dancing Script', Verdana, sans-serif;
    font-size: 23px;
    color: #333333;
    line-height: 1.5;
}