@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
        font-family: "Playlist Script";
        src: url('./fonts/PlaylistScript.otf');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.wallpaper {
    width: 100%;
    align-self: center;
    justify-self: center;
    z-index: -2;
    position: absolute;
}

.background {
    width: 100%;
    z-index: 1;
    align-self: center;
}

main {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 210px;
}

.nomes_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    margin: auto;
    align-self: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nomes_container div {
    display: flex;
    gap: .5rem;
}

.textos {
    margin: 50px auto;
    width: 70%;
    text-align: justify;
    font-family: 'Dancing Script', Verdana, sans-serif;
    font-size: 23px;
    color: #333333;
    line-height: 1.5;
}


.lirio, .lirios, .petalas {
    width: 60px;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
}

.none {
    display: none;
}

/* Animação de fade-in inicial */
.fadein_inicial_wallpaper {
    animation: fadein_inicial_wallpaper 1s ease-in forwards;
}

.fadein_inicial_background {
    animation: fadein_inicial_background 1s ease-in forwards;
}